@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gold: #ba9256; /* Define gold color for consistency */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth; /* Enables smooth scrolling across the site */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Scroll Snapping */
.snap-y {
  scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
}

.snap-start {
  scroll-snap-align: start; /* Snap to the start of each section */
}

/* Hero Section */
.hero-text {
  color: var(--gold);
  font-family: "Lulo Clean Bold", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

/* Halwa Menu Section */
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--gold);
  padding: 2rem;
  border-radius: 1.5rem;
}

.menu-image {
  border-radius: 1.5rem;
  object-fit: cover;
}

/* Features Section */
.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0px 4px 20px 10px #ba925656;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0px 8px 40px 0px var(--gold);
}

.feature-item svg {
  font-size: 2.5rem;
  color: var(--gold);
  margin-bottom: 0.5rem;
}

.feature-item p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--gold);
}

.pagination {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 2rem;
}

.pagination button {
  font-family: "Afacad", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: transparent;
  color: var(--gold);
  transition: all 0.2s ease;
}

.pagination button.active {
  background: var(--gold);
  color: #fff;
}

.pagination button:hover {
  color: #fff;
}
